[Desktop Entry]
Version=1.0
Name=Sprig
Exec=sprig
Terminal=false
Type=Application
Icon={ICON_PATH}/sprig.png
Categories=Chat;Network;InstantMessaging;
